{% load static %}
<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{% block title %}LOG IN{% endblock %}</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->

    {% block script %}{% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Play:400,700" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <!-- Bootstrap CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css'  %}" type="text/css">
    <!-- owl.carousel CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}" >
    <link rel="stylesheet" href="{% static 'css/owl.theme.css' %} " >
    <link rel="stylesheet" href="{% static 'css/owl.transitions.css' %}" >
    <!-- animate CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/animate.css' %}" >
    <!-- normalize CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/normalize.css' %}" >
    <!-- meanmenu icon CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/meanmenu.min.css' %}">
    <!-- main CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/main.css' %}" >
    <!-- morrisjs CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/morrisjs/morris.css' %}">
    <!-- mCustomScrollbar CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/scrollbar/jquery.mCustomScrollbar.min.css' %} " type="text/css">
    <!-- metisMenu CSS
		============================================ -->

    <link rel="stylesheet" href=" {% static 'css/metisMenu/metisMenu.min.css' %} " >
    <link rel="stylesheet" href="{% static 'css/metisMenu/metisMenu-vertical.css' %}">

    <link rel="stylesheet" href="{% static  'css/summernote/summernote.css' %}" >
    <!-- calendar CSS
		============================================ -->

    <link rel="stylesheet" href="{% static 'css/calander.css' %}">

     <!-- modals CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/modals.css' %}">
    <!-- forms CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'css/form/all-type-forms.css' %}">

    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <link rel="stylesheet" href="{% static  'css/responsive.css' %}" type="text/css">
    <!-- modernizr JS
		============================================ -->

    <script src="{% static 'js/vendor/modernizr-2.8.3.min.js' %}"></script>

</head>
<body>
 <div class="container-fluid">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
            <div class="col-md-4 col-md-4 col-sm-4 col-xs-12">
                <div class="text-center m-b-md custom-login "><br><br>
                    <h3>LOGIN FOR AUTHORIZED USER ONLY</h3>
                    <p>{{error}}</p>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form  id="loginForm"  method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <label class="control-label" for="username">Username</label>
                                <input type="text" placeholder="example@gmail.com" title="Please enter you username" required="" value="" name="username" id="username" class="form-control">
                                <span class="help-block small">Your unique username to app</span>
                            </div>
                            <div class="form-group">
                                <label class="control-label" for="password">Password</label>
                                <input type="password" title="Please enter your password" placeholder="******" required="" value="" name="password" id="password" class="form-control">
                                <span class="help-block small">Your strong password</span>
                            </div>
                            <!--<div class="checkbox login-checkbox">
                                <label>
										<input type="checkbox" class="i-checks"> Remember me </label>
                                <p class="help-block small">(if this is a private computer)</p>
                            </div>-->
                            <button type="submit" class="btn btn-success btn-block loginbtn">Login</button>

                        </form>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12"></div>
        </div>
        <div class="row">
            <div class="col-md-12 col-md-12 col-sm-12 col-xs-12 text-center">
                <p>Copyright &copy; 219 Subash Thapa</a> All rights reserved.</p>
            </div>
        </div>
    </div>

<script src="{% static 'js/vendor/jquery-1.11.3.min.js' %}"></script>
    <!-- bootstrap JS
		============================================ -->
    <script src="{% static 'js/bootstrap.min.js'%}"></script>

    <!-- wow JS
		============================================ -->

    <script src="{% static 'js/wow.min.js' %}"></script>
    <!-- price-slider JS
		============================================ -->

    <script src="{%   static 'js/jquery-price-slider.js' %}"></script>
    <!-- meanmenu JS
		============================================ -->

    <script src="{% static 'js/jquery.meanmenu.js' %}"></script>
    <!-- owl.carousel JS
		============================================ -->

    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <!-- sticky JS
		============================================ -->

    <script src="{% static 'js/jquery.sticky.js' %}"></script>
    <!-- scrollUp JS
		============================================ -->

    <script src="{% static 'js/jquery.scrollUp.min.js' %}"></script>
    <!-- mCustomScrollbar JS
		============================================ -->

    <script src="{% static 'js/scrollbar/jquery.mCustomScrollbar.concat.min.js' %}"></script>

    <script src="{% static 'js/scrollbar/mCustomScrollbar-active.js' %}"></script>
    <!-- metisMenu JS
		============================================ -->

    <script src="{% static 'js/metisMenu/metisMenu.min.js' %}"></script>

    <script src="{% static 'js/metisMenu/metisMenu-active.js' %}"></script>
    <!-- morrisjs JS
		============================================ -->

    <script src="{% static 'js/morrisjs/raphael-min.js' %}"></script>
    <script src="{% static 'js/morrisjs/morris.js' %}"></script>
    <script src="{% static 'js/morrisjs/morris-active.js' %}"></script>
   <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.min.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chosen/1.5.1/chosen.jquery.min.js"></script>-->
    <!-- morrisjs JS
		============================================ -->

    <script src="{% static 'js/sparkline/jquery.sparkline.min.js' %}"></script>
    <script src="{% static 'js/sparkline/jquery.charts-sparkline.js' %}"></script>
    <!-- calendar JS
		============================================ -->

     <script type="text/javascript" src="{% static 'js/caleandar.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/demo.js' %}"></script>
    <!-- plugins JS
		============================================ -->
    <script src="{% static 'js/summernote/summernote.min.js' %}"></script>
    <script src="{% static 'js/summernote/summernote-active.js' %}"></script>



 <!-- icheck JS
		============================================ -->
    <script src="{% static 'js/icheck/icheck.min.js' %}"></script>
    <script src="{% static 'js/icheck/icheck-active.js' %}"></script>

    <script src="{% static 'js/tab.js' %}"></script>
    <script src="{% static 'js/plugins.js' %}"></script>
    <!-- main JS
		============================================ -->

    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>
