{% extends "cebsapp/basic.html" %}
{% load static %}
{% block title%}Approve Student{%endblock%}
{% block stitle%}Home{%endblock%}
{% block s1title%}Edit Student{%endblock%}

{% block body%}
<div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>New Student Request</h4>
                            <div class="add-product">
                                <a href="/new-student">Add Student</a>
                            </div>
                            <table>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>

                                    <th>Gender</th>
                                    <th>Father's Name</th>
                                    <th>Mailing Address</th>
                                    <th>Phone Number</th>
                                    <th>Setting</th>
                                    <th></th>
                                </tr>

                                {% for student in students %}
                                <tr>
                                    <td>

                                    <img src ='{{student.image.url}}'>
                                    </td>
                                    <td>{{ student.FirstName|upper}}</td>

                                    <td>{{student.Gender}}</td>
                                    <td>{{student.GaurdainsName|upper}}</td>
                                    <td>{{student.MailingAddress}}</td>
                                    <td>{{student.PhoneNumber}}</td>
                                    <td>
                                        <a href="/students/edit_student/{{student.id}}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                             <a href="javascript:void(0)" ><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"> <i class="fa fa-trash-o" aria-hidden="true" data-toggle="modal" data-target="#DangerModalblbgpro{{student.id}}" ></i></button></a>
                                        <div id="DangerModalblbgpro{{student.id}}" class="modal modal-adminpro-general FullColor-popup-DangerModal PrimaryModal-bgcolor fade" role="dialog">
                                         <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-close-area modal-close-df">
                                        <a class="close" data-dismiss="modal" href="#"><i class="fa fa-close"></i></a>
                                    </div>
                                    <div class="modal-body">
                                        <span class="adminpro-icon adminpro-danger-error modal-check-pro information-icon-pro"></span>
                                        <h2>Danger!</h2>
                                        <p>DO YOU WANT TO DELETE <strong style="color:red">{{student.FirstName|upper}}&nbsp;{{student.LastName|upper}}</strong> FROM RECORD</p>
                                    </div>
                                    <div class="modal-footer">
                                        <a data-dismiss="modal" href="#">Cancel</a>
                                        <a href="/students/delete_student/{{student.id}}">Process</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                                    </td>
                                </tr>
                                {% endfor %}





                            </table>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock%}