{% extends "cebsapp/basic.html"%}
{% load static %}
{% block title %}Student Fees{% endblock %}
{% block script %}


{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Student Fees{%endblock%}

{% block body %}
<div class="product-status mg-tb-15 ">
            <div class="container-fluid ">
                <div class="row ">
                    <div class="col-lg-1 col-md-1col-sm-1 col-xs-1 " ></div>


                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 " >
                        <div class="product-status-wrap ">
                            <h3 class="d-block">Student Fees - <small><strong>{{sd.fame|upper}}</strong></small></h3>

                            <table>
                                <tr>
                                    <td><b>Particulars</b></td>
                                    <td><b>Amount</b></td>

                                </tr>
                                <tr>
                                    <td>Monthly </td>
                                    <td id="mon" value=".{{sd.monthly}}.">{{sd.monthly}}</td>
                                </tr>
                                 <tr>
                                    <td>Admission </td>
                                    <td id="ad">{{sd.admission}}</td>
                                </tr>
                                 <tr>
                                    <td>Transportation </td>
                                    <td id="tra">{{sd.transp}}</td>
                                </tr>
                                 <tr>
                                    <td>Computer</td>
                                    <td id="com">{{sd.com}}</td>
                                </tr>

                                 <tr>
                                    <td>Hostel</td>
                                    <td id="hos">{{sd.hos}}</td>
                                </tr>
                                <tr>
                                    <td><b>DUES</b></td><td id="du">{{sd.dues}}</td>
                                </tr>
                                <tr>
                                    <td ><b>Advance</b></td>
                                    <td id="adv">{{sd.advace}}</td>
                                </tr>
                                 <tr>
                                    <td><b>Total</b></td>
                                    <td id="tot">{{sd.totfee}}</td>
                                </tr>








                            </table>
                            <hr>


                        </div>
                    </div>
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5 " >
                        <div class="product-status-wrap ">
                                         <h3 class="text-center">Payment</h3>
                            <form  method="post" action="{% url 'update_fee' sd.id%}" >
                                {% csrf_token %}
                                 <div class="input-group mg-b-pro-edt">
                                     <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{form1.payment}}

                                 </div>
                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">

                                                    <button type="submit"  class="btn btn-success ">Save</button>

                                                    <button type="button" id="close" class="btn btn-danger waves-effect waves-light">Discard</button>
                                                </div>
                            </form></div>

                                    </div>

                </div>

            </div>
        </div>
<script>



}
</script>
{% endblock %}
