{% extends "cebsapp/basic.html"%}
{% load static %}
{% block title %}Student Details{% endblock %}
{% block script %}
<script>
 window.onload=function(){
    var down=document.getElementById('down');
    down.onclick=function(){
      document.getElementById('show').style.display="block";
      document.getElementById('down').style.display="none";
      document.getElementById('up').style.display="block";



      };
      var up=document.getElementById('up');
      up.onclick=function(){
        document.getElementById('show').style.display="none";
        document.getElementById('up').style.display="none";
        document.getElementById('down').style.display="block";
        };




    }
    </script>
{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Student Details{%endblock%}

   #main body part starts
{% block body %}
 <div class="single-product-tab-area mg-t-15 mg-b-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
                        <div id="myTabContent1" class="tab-content">
                            <div class="product-tab-list tab-pane fade active in" id="single-tab1">
                                <img src="img/product/bg-1.jpg" alt="" />
                            </div>
                            <div class="product-tab-list tab-pane fade" id="single-tab2">
                                <img src="img/product/bg-2.jpg" alt="" />
                            </div>
                            <div class="product-tab-list tab-pane fade" id="single-tab3">
                                <img src="img/product/bg-3.jpg" alt="" />
                            </div>
                            <div class="product-tab-list tab-pane fade" id="single-tab4">
                                <img src="img/product/bg-1.jpg" alt="" />
                            </div>
                            <div class="product-tab-list tab-pane fade" id="single-tab5">
                                <img src="img/product/bg-2.jpg" alt="" />
                            </div>
                        </div>
                        <ul id="single-product-tab">
                            <li class="active">
                                <a href="#single-tab1"><img src="img/product/1.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#single-tab2"><img src="img/product/2.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#single-tab3"><img src="img/product/3.jpg" alt="" /></a>
                            </li>
                            <li>
                                <a href="#single-tab4"><img src="img/product/1.jpg" alt="" /></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-12">
                        <div class="single-product-details res-pro-tb">
                            <h1>Student Details</h1>
                            <table class="table table-condensed">
      <thead>
        <tr>
          <th>Firstname</th>
          <td>Subash</td>

        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Lastname</th>
          <td>Thapa</td>

        </tr>
        <tr>
          <th>Grade</th>
          <td>10</td>
        </tr>
        <tr>
          <th>Section</th>
          <td>A</td>
        </tr>
        <tr>
          <th>Address</th>
          <td>Ghattakulo,ktm</td>
        </tr>
        <tr>
          <th>Gender</th>
          <td>Male</td>
        </tr>
        <tr>
        </tbody>
        </table>
                            <h1 style="color:black">Guardian Details

       </h1>
       <table class="table table-condensed" >
   <thead>
     <tr>
       <th>Guardian Name</th>
       <td style="padding-left:150px;">Mukta Bdr Thapa</td>

     </tr>
   </thead>
   <tbody>
     <tr>
       <th>Phone Number</th>
       <td style="padding-left:150px;">9861992478</td>

     </tr>
     <tr>
       <th>Occupation</th>
       <td style="padding-left:150px;">Indian Army</td>

     </tr>
     <tr>
       <th>Mailing Address</th>
       <td style="padding-left:150px;">Shantipur</td>

     </tr>
   </tbody>
 </table>
        <h1 style="color:black"> <a href="javascript:void(0);" style="color:black">Academic Result
            <label style="padding-left:50px;"><span class="text-center" id="down" style="display:block;"><i class="fa fa-angle-down"></i></span>
         <span class="text-center" id="up" style="display:none;"><i class="fa fa-angle-up"></i></span></label>
        </a></h1>
                        <div id="show" style="display:none">

       <form>
       <div class="col-md-5">
       <select name="select" class="form-control pro-edt-select form-control-primary  col-md-3 ">
<option value="opt1" readonly>Select Grade</option>
<option value="opt2">Nursery</option>
<option value="opt3">LKG</option>
<option value="opt4">UKG</option>
<option value="opt5">1</option>
<option value="opt6">2</option>
<option value="opt7">3</option>
<option value="opt8">4</option>
<option value="opt9">5</option>
<option value="opt10">6</option>
<option value="opt11">7</option>
<option value="opt12">8</option>
<option value="opt13">9</option>
<option value="opt14">10</option>
</select>
</div>
<div class="col-md-5">
<select name="select" class="form-control pro-edt-select form-control-primary  col-md-3 ">
<option value="opt1">Select Section</option>
<option value="opt2">A</option>
<option value="opt3">B</option>
<option value="opt4">C</option>
<option value="opt5">D</option>
<option value="opt6">E</option>

</select>
</div>
<div class="col-md-2">
  <button type="submit" class="btn btn-primary">Submit</button>
</div>
</form>

                        </div>



                        </div>
                    </div>
                </div>
            </div>
        </div>
   <div class="single-pro-review-area mt-t-30 mg-b-15">
            <div class="container-fluid">
                <div class="row" style="padding-left:20px">
                  <table class="table table-bordered" id="result" style="display:block;">
  <thead>
    <tr class="table-success">
        <th>Terminal</th>
      <th>English</th>
      <th>Nepali</th>
      <th>Social</th>
      <th>Science</th>
      <th>Mathmatics</th>
      <th>computer</th>
      <th>Health & Environment</th>
      <th>Economics</th>
    </tr>
  </thead>
  <tbody >
    <tr>
        <td>First</td>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>

      <td>Mary</td>
      <td>Moe</td>
      <td>mary@example.com</td>

      <td>July</td>
      <td>Dooley</td>

    </tr>
  </tbody>
</table>
                </div>
            </div>
        </div>
{% endblock %}
