{% extends "student/basic.html" %}
{% load static %}
{% block title%}Approve Student{%endblock%}
{% block stitle%}Home{%endblock%}
{% block s1title%}Edit Student{%endblock%}

{% block body%}
<div class="product-status mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="product-status-wrap">
                            <h4>New Student Request</h4>
                            <div class="add-product">
                                <a href="/new-student">Add Student</a>
                            </div>
                            <table>
                                <tr>
                                    <th>Image</th>
                                    <th>Name</th>
                                    <th>Status</th>
                                    <th>Gender</th>
                                    <th>Father's Name</th>
                                    <th>Mailing Address</th>
                                    <th>Phone Number</th>
                                    <th>Setting</th>
                                    <th></th>
                                </tr>
                                {% for student in students %}
                                <tr>
                                    <td><img src="img/new-product/5-small.jpg" alt="" /></td>
                                    <td>{{ student.FirstName}}</td>
                                    <td>
                                        <button class="pd-setting">Active</button>
                                    </td>
                                    <td>{{student.Gender}}</td>
                                    <td>{{student.GaurdainsName}}</td>
                                    <td>{{student.MailingAddress}}</td>
                                    <td>{{student.PhoneNumber}}</td>
                                    <td>
                                        <a href="/student/edit_student/{{student.id}}"><button data-toggle="tooltip" title="Edit" class="pd-setting-ed"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button></a>
                                        <a href="/student/delete_student"> <button data-toggle="tooltip" title="Trash" class="pd-setting-ed"><i class="fa fa-trash-o" aria-hidden="true"></i></button></a>
                                    </td>
                                </tr>
                                {% endfor %}





                            </table>
                            <div class="custom-pagination">
                                <nav aria-label="Page navigation example">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock%}