{% extends "student/basic.html" %}
{% load static %}
{% block title %}New Student{% endblock %}

{% block script%}

<script>

 window.onload=function(){
      var newad=document.getElementById('dis');
      newad.onclick=function(){
        document.getElementById('form-details').style.display="block";
        document.getElementById('minus').style.display="block";

      };
        var times=document.getElementById('minus');
        times.onclick=function(){
          document.getElementById('form-details').style.display="none";
            document.getElementById('minus').style.display="none";
          };
          var close=document.getElementById('close');
          close.onclick=function(){
            document.getElementById('myform').reset();
          };


    }

</script>
{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}New Student{%endblock%}
{% block body %}
 <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>New Admission</a></li>

                                </ul>
                                <form id="myform" action="/student/add_student/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="text" name="FirstName" class="form-control" placeholder="First Name">
                                                    </div>
                                                     <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="date" class="form-control" name="date" placeholder="Date-Of-Birth">
                                                    </div>

                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-road" ></i></span>
                                                        <input type="text" class="form-control" name="maddress" placeholder="Mailing Address">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-phone" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" name="pnumber" placeholder="Phone Number">
                                                    </div>

                                                    <select  name="players" >
															<option class="form-control pro-edt-select form-control-primary" selected value="none">Are you a Regional OR National Player</option>
															<option  value="Football">Football</option>
															<option  value="cricket">Cricket</option>
															<option  value="Basketball">Basketball</option>
															<option  value="Chess">Chess</option>
															<option  value="Badmintion">Badmintion</option>
                                                            <option  value="Boxing">Boxing</option>
                                                            <option value="Running">Running</option>

														</select><br><br>
                                                    <!-- Default unchecked -->
                                                        <div name= "hobbies" class="custom-control custom-checkbox">
                                                            <input type="checkbox" value="Football" class="custom-control-input" >
                                                            <label class="custom-control-label" >Football</label>
                                                            <input type="checkbox" value="Cricket" class="custom-control-input" >
                                                            <label class="custom-control-label" >Cricket</label>
                                                             <input type="checkbox" value="Singing" class="custom-control-input" >
                                                            <label class="custom-control-label" >Singing</label>
                                                             <input type="checkbox" value="Dancing" class="custom-control-input" >
                                                            <label class="custom-control-label" >Dancing</label>
                                                             <input type="checkbox" value="BasketBall" class="custom-control-input" >
                                                            <label class="custom-control-label" >Basketball</label>
                                                             <input type="checkbox" value="Chess" class="custom-control-input" >
                                                            <label class="custom-control-label" >Chess</label>

                                                        </div>
                                                     <div class="custom-control custom-checkbox" name="service" ><br>
                                                         <label class="custom-control-label" >Did you need any Service ?</label><br>
                                                            <input type="checkbox" name="Hostel"  value="Hostel" class="custom-control-input" >
                                                            <label class="custom-control-label" >Hostel</label>
                                                            <input type="checkbox" name="Transportation" value="Transportation" class="custom-control-input" >
                                                            <label class="custom-control-label" >Transportation</label>
                                                             <input type="checkbox" name="Computer" class="custom-control-input" value="Computer" >
                                                         <label class="custom-control-label">Computer </label>



                                                        </div>


                                                </div>
                                            </div>

                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="text" name="lastname" class="form-control" placeholder="Last Name">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="text" name="gname" class="form-control" placeholder="Gaurdain's Name">
                                                    </div>
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                        <input type="text" name="occupation" class="form-control" placeholder="Occupation">
                                                    </div>
                                                    <div class="radio">
                                                      <label>Gender :</label>
                                                          <label><input type="radio" name="gender" value="Male" checked>Male</label>


                                                          <label><input type="radio" name="gender" value="Female">Female</label>

                                                          <label><input type="radio" name="gender" value="Others" >Others</label>
                                                      </div>
                                                    <div class="input-group mb-b-pro-edt custom-file">
                                                         <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                                      <div class="custom-file">
                                                        <input type="file" id="inputGroupFile02" class="custom-file-input form-control custom-file-input" id="inputGroupFile02">

                                                      </div>

                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <p class="text-center">or</p>
                                        <p class="text-center" ><a href="javascript:void(0)" id="dis">Transfer From Other institution</a><span class="text-right" id="minus" style="display:none";><i class="fa  fa-times"></i></span></p>
                                            <div id="form-details" style="display:none">
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                            <div class="review-content-section">
                                        <div class="input-group mg-b-pro-edt">
                                            <span class="input-group-addon"><i class="fa  fa-institution" aria-hidden="true"></i></span>
                                            <input type="text" name="linstitution" class="form-control" placeholder="Last institution">
                                        </div>
                                        <div class="input-group mg-b-pro-edt">
                                            <span class="input-group-addon"><i class="fa fa-graduation-cap" aria-hidden="true"></i></span>
                                            <input type="text" name="grade" class="form-control" placeholder="Grade">
                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                        <div class="review-content-section">
                                          <div class="input-group mg-b-pro-edt">
                                              <span class="input-group-addon"><i class="fa fa-percent" aria-hidden="true"></i></span>
                                              <input type="text"  name="percent" class="form-control" placeholder="Percentage">
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <button type="submit"   class="btn btn-success ">Save</button>

                                                    <button type="button" id="close" class="btn btn-danger waves-effect waves-light">Discard</button>
														</button>
                                                </div><br>

                                            </div>
                                        </div>
                                    </div>


                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}