{% extends "cebsapp/basic.html"%}
{% block title %}Compose{% endblock %}
{% block script%}

{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Compose{%endblock%}
{% block body %}
<div class="mailbox-compose-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="hpanel responsive-mg-b-30">
                            <div class="panel-body">
                                <a href="mailbox_compose.html" class="btn btn-success compose-btn btn-block m-b-md">Compose</a>
                                <ul class="mailbox-list">
                                    <li>
                                        <a href="#">
												<span class="pull-right">12</span>
												<i class="fa fa-envelope"></i> Inbox
											</a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <div class="col-md-9 col-md-9 col-sm-9 col-xs-12">
                        <div class="hpanel email-compose mg-b-15">
                            <div class="panel-heading hbuilt">
                                <div class="p-xs h4">
                                    New message
                                </div>
                            </div>
                            <div class="panel-heading hbuilt">
                                <div class="p-xs">
                                    <form method="post" action="/mailaddress/compose/" class="form-horizontal"  enctype="multipart/form-data">
                                         {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-sm-1 control-label text-left">To:</label>
                                            <div class="col-sm-11">
                                               {{form.to}}
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-sm-1 control-label text-left">Subject:</label>
                                            <div class="col-sm-11">
                                               {{form.subject}}
                                            </div>
                                        </div>
                                    <div class=" mg-t-30">

                                                            {{form.media}}
                                                            {{form.body}}

                                                        </div>


                            </div>


                            <div class="panel-footer">
                                <div class="pull-right">
                                    <div class="btn-group">
                                        <button type="submit" class="btn btn-success"><i class="fa fa-edit"></i> Save</button>
                                        <button class="btn btn-default"><i class="fa fa-trash"></i> Discard</button>
                                    </div>
                                </div>
                                <button class="btn btn-primary ft-compse">Send email</button>
                                <div class="btn-group">
                                    <button class="btn btn-default"><i class="fa fa-paperclip"></i> </button>
                                    <button class="btn btn-default"><i class="fa fa-image"></i> </button>
                                </div>

                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock%}