{% extends "cebsapp/basic.html"%}
{% block title %}All Blog{% endblock %}
{% block script%}

{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}All Blog{%endblock%}
{% block body %}
<div class="blog-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
					{% for blog in  blogs %}
                   <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                        <div class="hpanel blog-box mg-t-30">
                            <div class="panel-heading custom-blog-hd">
                                <div class="media clearfix">
                                    <a class="pull-left" style="width:60px;height:60px">
											<img class="img-circle" src="{{blog.image.url}}" alt="profile-picture">
										</a>
                                    <div class="media-body blog-std">
                                        <p>Created by: <span class="font-bold">Subash</span> </p>
                                        <p class="text-muted">{{blog.pub_date}}</p>
                                        <p>{{blog.blog_id}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-body blog-pra">
                                <div class="blog-img" >
                                    <img src="{{blog.image.url}}"  alt="" style="height:160px" />
                                    <a href="/blog/details/{{blog.id}}">
                                        <h4>{{blog.tit}}</h4>
                                    </a>
                                </div>
                                <p>
                                    {{blog.summary|safe}} &nbsp;&nbsp;<span ><a href="/blog/details/{{blog.id}}" style="color:red" >Read More...</a></span>
                                </p>
                            </div>
                            <div class="panel-footer">
                                <span class="pull-right"><i class="fa fa-comments-o"> </i> 22 comments</span>
                                <i class="fa fa-eye"> </i> 142 views
                            </div>
                        </div>
                    </div>
				{% endfor %}
                </div>
            </div>
        </div>
 {% endblock %}