{% extends "cebsapp/basic.html"%}
{% block title %}Add Teacher{% endblock %}
{% block script%}


{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Create Blog{%endblock%}
{% block body %}
 <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="review-tab-pro-inner">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>Create Blog</a></li>

                                </ul>
                               <form id="myform" action="/blog/createblog/" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row justify-content-center">
                                            <div class="col-lg-1 col-md-1 col-sm-8 col-xs-12 "></div>
                                            <div class="col-lg-10 col-md-10 col-sm-12 col-xs-12 justify-content-center">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="text" name="title" class="form-control" placeholder="TITLE OF BLOG">
                                                    </div>

                                                         <div class="file-upload-inner ts-forms">
                                                                    <div class="input prepend-big-btn">
                                                                        <label class="icon-right" for="prepend-big-btn">
																				<i class="fa fa-download"></i>
																			</label>
                                                                        <div class="file-button">
                                                                            Browse
                                                                            <input type="file" name="image"  onchange="document.getElementById('prepend-big-btn').value = this.value;">
                                                                        </div>
                                                                        <input type="text"  id="prepend-big-btn" placeholder="CHOOSE A BLOG THUMBNAILS">
                                                                    </div>
                                                                </div>

                                                        <div class="tinymce-single mg-t-30">
                                                            <!--<div id="summernote4" name="textbody"></div>-->
                                                            <input type="text" id="foo" name="textbody">
                                                           <!-- <textarea name="textbody" id="TinyMCE()"></textarea>-->
                                                        </div>

                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <button type="submit"  class="btn btn-success ">Save</button>
														</button>
                                                    <button type="button" id="close" class="btn btn-danger waves-effect waves-light">Discard</button>
														</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                              </form>
                                {% if uploaded_file_url %}
    <p>File uploaded at: <a href="{{ uploaded_file_url }}">{{ uploaded_file_url }}</a></p>
  {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}