{% extends "cebsapp/basic.html" %}
{% load static %}
{% block title %}Create Academic Fees{% endblock %}

{% block script%}

{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Academic Fees{%endblock%}
{% block body %}
 <div class="mailbox-compose-area mg-tb-15">
            <div class="container-fluid">
                <div class="row">
<form method="POST"  data-url="/student/studentfeeupdate/">
    {% csrf_token %}
                    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                    </div>
                    <div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                        <div class="hpanel responsive-mg-b-30">
                            <div class="panel-body">
                                <a href="mailbox_compose.html" class="btn btn-success compose-btn btn-block m-b-md">Create Fees</a><br>
                                <div class="input-group mg-b-pro-edt">
                                    <span ><strong>Year </strong></span>


                               {{ form.year}}&nbsp;&nbsp;&nbsp;&nbsp;<span ><strong>ClassName  </strong></span>
                                    {{form.classnam}}
                                </div>





                                    <div class="input-group mg-b-pro-edt">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                   {{form.admissionfee}}
                                </div>

                                <div class="input-group mg-b-pro-edt">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{form.monthlyfee}}
                                </div>
                                    <div class="input-group mg-b-pro-edt">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{form.transfee}}
                                </div>
                                    <div class="input-group mg-b-pro-edt">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{form.compfee}}
                                </div>
                                    <div class="input-group mg-b-pro-edt">
                                    <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                    {{form.hostelfee}}
                                </div>
                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                 <button type="submit" value="Sumit" class="btn btn-lg btn-success ">Save</button>
                                </div>

                            </div>
                        </div>
                    </div>
    <div class="col-md-3 col-md-3 col-sm-3 col-xs-12">
                    </div>
</form>


                    <!--<div class="col-md-6 col-md-6 col-sm-6 col-xs-12">
                        <div class=" product-status-wrap hpanel email-compose mg-tb-15">
                                <a href="mailbox_compose.html" class="btn btn-success compose-btn btn-block ">Fees in Academic Year</a><br>
                            <div class="panel-heading hbuilt ">
                                <div class="p-xs">
                                    <table>
                                <tr >

                                    <th>Class</th>

                                    <th>Admission</th>
                                    <th>Monthly</th>
                                    <th>Transportation</th>
                                    <th>Hostel</th>

                                    <th>Computer</th>

                                </tr>
                                        {% for date in year%}
                                        <tr>


                                    <td>
                                       {{ date.classname }}
                                    </td>
                                    <td>{{ date.afees }}</td>
                                    <td>{{ date.fees }}</td>
                                    <td>{{ date.transfees }}</td>
                                    <td>{{ date.hostelfees }}</td>
                                    <td>{{ date.compfees }}</td>

                                </tr>
                                        {% endfor %}
                                    </table>
                        </div>
                    </div>
                </div>
            </div>-->
        </div>
            </div>
 </div>
{% block script1 %}
<script>



        $(document).ready(function(){
             var $myform = $('.myajax');
             $myform.submit(function(event){
                 event.preventDefault();
                 var $formData = $myform.serialize();
                 var $thisURL = $myform.attr('data-url');
                 $.ajax({
                     method:"POST",
                     url:$thisURL,
                     data:$formData,
                     success:handleSuccess,
                     error:handleError,
                 });
                 function handleSuccess(data){
                 console.log(data);
                 }
                 function handleError(ThrowError){
                 console.log(ThrowError);
                 }

             });
        });

</script>
{% endblock %}


{% endblock %}