{% extends "finance/basic.html" %}
{% load static %}
{% block title %}New Student{% endblock %}

{% block script%}
 <script>window.onload=function(){
      var newad=document.getElementById('dis');
      newad.onclick=function(){
        document.getElementById('form-details').style.display="block";
        document.getElementById('minus').style.display="block";

      };
        var times=document.getElementById('minus');
        times.onclick=function(){
          document.getElementById('form-details').style.display="none";
            document.getElementById('minus').style.display="none";
          };
          var close=document.getElementById('close');
          close.onclick=function(){
            document.getElementById('myform').reset();
          };


    }</script>
{% endblock %}
{% block stitle%}Home{%endblock%}
{% block s1title%}Fee Payment{%endblock%}
{% block body %}
 <div class="single-product-tab-area mg-tb-15">
            <!-- Single pro tab review Start-->
            <div class="single-pro-review-area">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
                            <div class="review-tab-pro-inner">
                                <ul id="myTab3" class="tab-review-design">
                                    <li class="active"><a href="#description"><i class="fa fa-pencil" aria-hidden="true"></i>Fee Payment</a></li>

                                </ul><div class="add-product">
                                <a href="/studentfees">Search Student</a>
                            </div>
                                <form id="myform" action="" enctype="multipart/form-data">
                                <div id="myTabContent" class="tab-content custom-product-edit">
                                    <div class="product-tab-list tab-pane fade active in" id="description">
                                        <div class="row">
                                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6" style="margin-left:26%;">
                                                <div class="review-content-section">
                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-user" aria-hidden="true"></i></span>
                                                        <input type="text" class="form-control" placeholder="Full Name">
                                                    </div>


                                                    <div class="input-group mg-b-pro-edt">
                                                        <span class="input-group-addon"><i class="fa fa-road" ></i></span>
                                                        <input type="text" class="form-control" placeholder="Amount Paid">
                                                    </div>
                                                   <br>
                                                    <!-- Default unchecked -->



                                                </div>
                                            </div>


                                        </div>

                                        <div class="row">
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <div class="text-center mg-b-pro-edt custom-pro-edt-ds">
                                                    <button type="button" class="btn btn-success ">Save</button>
														</button>
                                                    <button type="button" id="close" class="btn btn-danger waves-effect waves-light">Discard</button>
														</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                              </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}